@charset "utf-8";
/* CSS Document */
@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,article, aside, canvas, details, embed,figure,figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline; } 
table, caption, tbody, tfoot, thead, tr, th, td{ margin:0; padding:0; font-size:100%; font:inherit;}
li{ list-style-type:none;}
body{ font-size:12px; font-family:'宋体',Arial, Helvetica, sans-serif; color:#333; line-height:20px; background:#e1e1e1;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
input:focus{ outline:none;}

.bgImgS{ background:url(../images/bgImg.png) no-repeat;}
.btnBgS{ background:url(../images/btnBg.png) no-repeat;}
.orderBg{ background:url(../images/orderBg.png) no-repeat;}
.imgClickBg{ background:url(../images/imgClickBg.png) no-repeat;}

/*=====header=====*/
.jf-wrapper{ background:#fff; min-width:1000px;}
.bgImg{ background:url(../images/bg.png) no-repeat;}
.jf-wrapper,.jf-header{ width:100%;}
.jf-header{ height:80px;}
.jf-header-top{ height:25px; background:#ea6870;}
.jf-width1000{ width:1000px; margin:0 auto;}
.jf-overflowH{ overflow:hidden;}
.topNav{ float:right;}
.topNav li{ float:left;}
.topNav li a{ color:#fff; margin-left:20px; line-height:25px; display:inline-block;}
.topNav li a:hover{ text-decoration:underline;}
.cartIcon{ display:inline-block; width:13px; height:13px; margin-right:5px; background-position:0 -74px; margin-top:6px;float:left;}
.cartIconTxt{ float:left;}

.jf-header-nav{ widows:100%; height:55px; background:#fff;}
.jf-logo{ width:175px; height:55px; background:#fff; float:left;}
.jf-navList{ float:left; margin-right:30px; text-align:center;}
.jf-navList>li{ float:left; position:relative;}
.jf-navList>li>a{ display:inline-block; width:100px; height:55px; line-height:55px; color:#333; font-weight:bold; font-size:16px; font-family:"微软雅黑";}
.jf-navList>li:hover>a,.jf-navList .navListBgRed{ color:#ea6870; background:#faecec; text-decoration:none;}

.jf-dropDownList{ background:#fff; position:absolute; left:0; top:55px; text-align:center; z-index:100; box-shadow: 0 2px 15px rgba(0,0,0,0.3); overflow:hidden; height:0;}
.jf-dropDownList>a{ display:inline-block; line-height:35px; width:100px; color:#333; font-size:12px;}
.jf-dropDownList>a:hover{ background:#faecec; text-decoration:none; color:#ea6870;}

.jf-searchForm{ overflow:hidden; height:55px; width:295px; float:left; margin-top:-6px; margin:0\0; *margin-top:0;}
.jf-searchForm p{ margin-top:12px;}
.jf-searchTxt{ width:240px; height:25px; float:left; padding:3px 5px; background-position:0 0; border:none; color:#666;}
.jf-searchBtn{ display:inline-block; width:45px; height:31px; background-position:-256px 0; border:none; cursor:pointer;}
.jf-searchTxt:focus,.jf-searchBtn:focus{ outline:none;}

/*=====bottom=====*/
.jf-bottom{ overflow:hidden; margin-top:10px; line-height:25px; }
.jf-bottom-item{ background:#ebebeb; padding:40px 0; overflow:hidden;}
.itemList{ float:left; float:left; padding:10px ; text-align:center; width:119px; margin-left:20px; border-left:1px dashed #d2d2d2;}
.itemList:first-child{ margin-left:0; border-left:none;}
.itemListLast{ width:169px; font-weight:bold; color:#666;}
.itemListLast a{ font-weight:bold; color:#666;}
.itemList dt a,.itemListLast dt{ font-weight:bold; line-height:35px; color:#666;}
.itemList dd a{ color:#666;}
.jf-bottom-copyright{ background:#c2c2c2; height:35px; line-height:35px; width:100%; text-align:center; font-weight:bold;}


/*=====login=====*/
#loginBg{ width:100%; height:100%; top:0px; left:0px; filter: Alpha(opacity=50); opacity:0.5; background:#000000; display:none; position: fixed;}
.jf-login,.jf-register{ width:480px; height:412px; padding:10px; background:#fff; border:1px solid #cccccc; border-radius:10px; box-shadow:0 0 15px rgba(102,102,102,0.5); left:50%; top:50%; margin:-216px 0 0 -250px; display:none; position: fixed;}
.jf-loginTitle,.jf-registerTitle{ line-height:55px; font-size:16px; text-indent:10px; font-weight:bold; border-bottom:1px solid #ccc; color:#666;}
.loginForm,.registerForm,.registerFormForEmial{ width:300px; margin:60px auto; color:#666;}
.loginForm p,.registerForm p,.registerFormForEmial p{ position:relative; overflow:hidden; width:302px; margin-bottom:20px;}
.loginForm b{ display:inline-block; width:16px; height:20px; position:absolute; left:10px; top:10px;}
.loginForm label,.registerForm label,.registerFormForEmial label{ line-height:25px; float:left; line-height:20px;}
.forgotPsd{ float:right; color:#666; line-height:20px;}
.loginForm input[type=checkbox],.registerForm input[type=checkbox],.registerFormForEmial input[type=checkbox]{ margin-top:3px; float:left;}
.loginTxt,.registerTxt{ width:260px; padding:10px 10px 10px 30px; height:20px; line-height:20px; color:#999; background:#f6f6f6; border:1px solid #ccc; border-radius:10px; font-size:12px;}
::-webkit-input-placeholder { color: #ccc;}

.loginTxt:focus,.registerTxt:focus{ outline:none; color:#666; font-size:12px;}
.loginBtn,.registerBtn{ background-position:0 -33px; width:300px; height:40px; border:1px solid #ea6870; border-radius:5px; color:#fff; font-size:16px; font-weight:bold; text-align:center; letter-spacing:10px; cursor:pointer;}
.toRegister,.toLogin{ text-align:right;}
.toRegister a,.toLogin a{ margin-left:10px; color:#ea6870;}

.loginCloseBtn,.registerCloseBtn{  display:inline-block; width:30px; height:30px; position:absolute; right:-15px; top:-15px;
-moz-transition: all 0.8s ease-in-out; 
-webkit-transition: all 0.8s ease-in-out; 
-o-transition: all 0.8s ease-in-out; 
-ms-transition: all 0.8s ease-in-out; 
transition: all 0.8s ease-in-out; z-index:101;}
.loginCloseBtn:hover,.registerCloseBtn:hover{ 
-moz-transform: rotate(360deg); 
-webkit-transform: rotate(360deg); 
-o-transform: rotate(360deg); 
-ms-transform: rotate(360deg); 
transform: rotate(360deg); 
} 

.jf-register{ height:560px; margin:-270px 0 0 -250px; padding:0; width:500px;}
.registerForm label,.registerFormForEmial label{ float:left; line-height:40px;}
.registerTxt{ width:225px; float:right; padding:10px;} 
.jf-registerTitle{ width:250px; border-radius:10px 0 0 0; text-align:center; text-indent:0; float:left; background:#f6f6f6; cursor:pointer;}
.titlePitch{ background:#fff; border:#fff; border-radius:10px;}
.sendCode{float:right; height:40px; line-height:40px; margin-left:10px; width:95px; cursor:pointer; color:#666;}

.tipDiv{ background:#fff; border:1px solid #ccc; border-radius:5px; width:280px; height:164px; padding:0 10px 30px; line-height:25px; display:none; left:50%; top:50%; margin:-82px 0 0 -140px; display:none; position: fixed; z-index:100;}
.tipDivTitle{ border-bottom:1px solid #ccc; font-size:16px; font-weight:bold; line-height:40px;}
.tipDivTitle h3{ text-indent:10px;}
.tipDiv p{ margin-top:20px; text-align:center;}
.sureBtn,.cancleBtn{ width:50px; height:25px; border:1px solid #ea6870; border-radius:3px; background:#ea6870; text-align:center; line-height:25px; color:#fff; cursor:pointer;}
.cancleBtn{ background:#f6f6f6; border:1px solid #ccc; color:#666; margin-left:10px;}

/*=====toolTip=====*/
.toolTip{ background:#fff; border:1px solid #ccc; border-radius:10px; width:250px; line-height:25px; display: none; left:50%; top:50%; margin:-82px 0 0 -125px; display:none; position: fixed; z-index:100;}
.toolTipTitle{ height:35px; border-bottom:1px solid #eee;}
.toolTipTitle span{ float:left; font-size:14px; font-weight:bold; color:#ea6870; line-height:33px; border-bottom:2px solid #ea6870; padding:0 5px }
.toolTipTitle .toolTipCBtn{ float:right; border:none; cursor:pointer;}
.toolTipTxt{ padding:20px 10px; line-height:18px; color:#333;}
.toolTipBtn{ width:250px; height:30px; line-height:30px; background:#ea6870; color:#fff; font-size:12px; font-weight:bold; border-radius:0 0 10px 10px; border:none; cursor:pointer;}

