@charset "UTF-8";
/*===member.jsp===*/
.main{
    background:#ebebeb;
    padding: 10px;
    overflow: hidden;
}
.m-main{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
.m-left {
    width: 185px;
    float: left;
    border: dotted 1px #D51A6D;
    background: #fff;
}

.m-right {
    width: 805px;
    float: right;
    border: dotted 1px #D51A6D;
    background: #fff;
}
.baseinfo {
    overflow:hidden;
    margin: 10px;
    margin-right: 0;
    margin-bottom: 0;
    height: 100px;
}
/*--菜单--*/
.mmenu {
    font-weight: normal;
    height: 350px;
}
.mmenu-buttom {
    font-weight: normal;
    height: 195px;
}

.mtitle {
    height: 35px;
    text-align: center;
    font-size: 16px;
    background: #ea6870;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.mtitle a {
    color: #fff;
}

.menulist {
    padding-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menulist a {
    color: #333;
    display: block;
    height: 30px;
    line-height: 30px;
}

.menulist a:hover {
    color: #e51374;
}

.mmenu .selected {
    color: #e51374;
    font-weight: bold;
}
/*---会员右边---*/
.rtitle {
    height: 40px;
    text-indent: 10px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    color: #ea6870;
    border-bottom: solid 2px #ccc;
}

.rtitle b {
    width: 805px;
    height: 0;
    float: left;
    margin-left: 0px;
}

.m-content {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    min-height: 615px;
}

.jf-wrapper .jf-bottom{margin-top: 0px;}

.headimg {
    height: 90px;
    width: 90px;
    float: left;
}

.bltext {
    width: 83px;
    float: right;
    height: 90px;
}

.bltext .bt1 {
    font-size: 12px;
    line-height: 25px;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bltext .bt2 {
    font-size: 14px;
    line-height: 28px;
}

/*====mcontent=====*/
.m-info{
    overflow: hidden;
    height: 100px;
	border-bottom:1px solid #ccc;
	margin-bottom:20px;
}

.m-detail{
    width: 300px;
    float: left;
}

.m-remark{
    widows: 505px;
    float: right;
    margin-top: 20px;
}

.m-detail p{
    height: 30px;
}