html{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}

.clear{clear:both;visibility:hidden;display:block;font-size:0;line-height:0;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}

 .carousel-direction a.disabled,.carousel-direction a.disabled:hover{background-color:#dcf2ff;color:#ccc;cursor:default;}
 .carousel-prev{left:0;}.carousel-next{right:0;}
 .carousel-btn{text-align:center;margin:10px 0;}
 .carousel-btn a{display:inline-block;width:12px;height:12px;margin:0 6px;background:#ccc;border-radius:50%;}
 .carousel-btn .selected{background:#ff6600;cursor:default;}
 .carousel-btn a span{display:none;}
 .carousel-btn-fixed{width:100%;position:absolute;bottom:15px;left:0;margin:0;z-index:100;}
 .carousel-num{position:absolute;bottom:7px;right:10px;z-index:100;}
 .carousel-num a{display:inline-block;*display:inline;*zoom:1;width:22px;height:22px;line-height:22px;margin:0 0 0 5px;text-align:center;background:#333;font-size:12px;color:#fff;}
 .carousel-num a:hover{text-decoration:none;color:#fff;}
 .carousel-num a.selected{background:#998b81;cursor:default;}
 .carousel-thumbs{text-align:center;}
 .carousel-thumbs a{border:2px solid #ccc;margin:0 3px;display:inline-block;*display:inline;*zoom:1;}
 .carousel-thumbs a img{display:block;}
 .carousel-thumbs a:hover,.carousel-thumbs a.selected{border-color:#f60;}
 .carousel{position:relative;}
 .carousel-item{position:relative;float:left;display:block;}
 .carousel-item .carousel-img{display:block;}
 .carousel-item .carousel-img a[href="javascript:;"]{cursor:default;}
 .carousel-item .carousel-img img{display:block;}
 .carousel-info{position:absolute;bottom:0;left:0;width:100%;background:url(../images/opa70.png);}
 .carousel-info-inner{font-size:13px;padding:8px 10px;color:#fff;}
 .carousel-info-inner a,.carousel-info-inner a:hover{color:#fff;}
 .carousel-info-inner h3{font-size:15px;line-height:20px;color:#fff;}
 .carousel-info-inner p{margin-top:5px;}
 .responsive-carousel{overflow:hidden;}
 .responsive-carousel .carousel-item img{width:100%;height:auto!important;}
 .responsive-carousel .carousel-direction{display:none;}
 .responsive-carousel:hover .carousel-direction{display:block;}
 .responsive-carousel-set .carousel-info-inner h3{font-weight:normal;}

.bannerdw{margin:0 auto;width:800px;}
.bannertext{position:absolute;width:800px;top:60%;background:#fff;filter:alpha(opacity=80);background-color:rgba(255,255,255,0.80);color:#333;display:block;padding:20px;border-radius:20px;font-size:14px;}

.bannerhwzj{margin:0 auto;width:1050px;}
.bannerhwzjtext{position:absolute;width:500px;top:30%;background:#fff;filter:alpha(opacity=80);background-color:rgba(255,255,255,0.80);color:#006812;display:block;padding:20px;border-radius:20px;font-size:14px;}
.bannerhwzjtext h3{color:#0052A4;font-size:20px;margin-bottom:10px;}

.bannerczkc{margin:0 auto;width:1100px;text-align:center}
.bannerczkctext{position:absolute;width:1100px;top:30%;color:#fff;display:block;padding:20px;border-radius:20px;font-size:14px;}
.bannerczkctext h3{color:#fff;font-size:40px;margin-bottom:10px;}

.bannerqynx{margin:0 auto;width:1100px;text-align:center}
.bannerqynxtext{position:absolute;width:1100px;top:30%;color:#333;display:block;padding:20px;border-radius:20px;font-size:14px;}
.bannerqynxtext h3{color:#E24D18;font-size:40px;margin-bottom:10px;}


/*=====member=====*/
.main{ width: 100%;}
.memberMain{ width: 1200px; min-height: 500px; margin: 0 auto; overflow: hidden;}
.overflowH{ overflow: hidden;}
.memberMain-Left{ float: left; padding: 20px 30px; border-top: 3px solid #f60;font-size:16px;}
.iconLBgGray span{-webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: grayscale(100%); filter: gray;}
.iconLBgGray:hover span{-webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); filter: none;}
.fontColorO a{ color: #ff6600;}
.memberMain-Left a{ line-height: 40px; height: 40px; display: inline-block; width: 100px;}
.iconLBg{ background: url(../images/member/leftIcon.png); display: inline-block; width: 20px; height: 20px; margin-top: 10px; margin-right: 10px; vertical-align: top;}
.iconLInfor{ background-position: 0 0;}
.iconLOrder{ background-position: 0 -22px;}
.iconLPoint{ background-position: 0 -44px;}
.iconLCard{ background-position: 0 -64px;}
.memberMain-Right{ width: 970px; float: right; padding: 20px;}
.memberMainR-Baseinfo{ overflow: hidden; border-bottom: 3px solid #eee; padding:10px 30px 20px;}
.memberMainR-Baseinfo img{ border-radius:50%; float: left;}
.baseinfo-Title{ font-size: 16px; font-weight: bold; color: #f60; line-height: 40px; margin-bottom: 20px;}
.baseinfo-Account{ margin-left: 30px; float: left; width: 350px;}
.baseinfo-Account p,.baseinfo-Tip p{ font-size: 14px; line-height: 20px; margin-bottom: 10px;}
.baseinfo-Account span,.baseinfo-Tip span{ color: #f60;}
.baseinfo-Account input{ margin-left: 10px; height: 25px; padding:0 10px; border: 1px solid #f60; border-radius: 5px; color: #f60; background: #fff; cursor: pointer;}
.baseinfo-Tip{ float: left; font-size: 12px; color: #3897d7; width: 340px; padding:35px 30px 25px; line-height:20px; border-left: 2px solid #eee; text-align: center;}
.baseinfo-Tip input{ border:none; background: #f60; color:#fff; padding: 5px 20px; cursor: pointer; margin-top: 20px;}
.rightOrder{ padding: 30px 0;}
.rightOrder h2{ font-size: 16px; font-weight: bold; color: #666; margin-bottom: 20px;}
.orderTable{ font-size: 12px; line-height: 30px; color: #666; text-align: center;}
.orderTable th{background:#f3f3f3;}
.memberMain-Right input{outline:none;}

/*=====myInformation=====*/
.myDetial div{ margin-bottom:10px; line-height:25px; font-size:14px; color:#666;}
.lwidth{ display:inline-block; width:2em;}
.myDetialTxt{ width:200px; border:1px solid #ccc; padding:0 10px; line-height:25px; color:#666;}
.inputRO{ border:none; line-height:27px;}
input[type=radio]{ margin-right:5px;}
.myDetial .myDetial-Title{ margin-bottom:20px; overflow:hidden; padding:0 32px;}
.myDetial-Title h2{ line-height:30px; padding:0 10px; font-weight:bold; font-size:14px; color:#666; float:left; margin-right:20px; cursor:pointer;}
.myDetial-Title .bgOcoF{ color:#fff; background:#f60;}
.myDetialList{padding:0 32px;}
.myDetialList div{ overflow:hidden;}
.detialLabel{ float:left;} 
.myDetialList p{ float:left;}
#birthYear,#birthYear option,#birthMonth,#birthMonth option,#birthDay,#birthDay option{ height:25px; line-height:25px;}
.detialBtn{ color: #3897d7; background:#fff; border: 1px solid #3897d7; margin:20px 0 0 80px; border-radius:5px; heoght:25px; padding:0 10px; cursor:pointer;}