<web-app>
    <welcome-file-list>
        <welcome-file>/index</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/500error</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/reOperation</location>
    </error-page>
    <!--
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SSL</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description>SSL required</description>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
</web-app>
  